.place__image {
  object-fit: contain;
  object-position: top;
  grid-column: 1;
  grid-row: 2;
  margin: 0;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1023px) {
  .place__image {
    grid-column: 1;
    grid-row: 2;
    margin: 0;
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 767px) {
  .place__image {
    grid-column: 1;
    grid-row: 3;
  }
}
