.footer__link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 112%;
  color: #ffffff;
  text-decoration: none;
  margin: 0;
}
.footer__link:hover {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 112%;
  color: #ffffff;
  text-decoration: none;
  margin: 0;
  opacity: 0.8;
}
@media screen and (max-width: 767px) {
  .footer__link {
    font-size: 24px;
    line-height: 100%;
    color: #ffffff;
  }
  .footer__link:hover {
    font-size: 24px;
    line-height: 100%;
    color: #ffffff;
  }
}
