.footer__links {
  display: flex;
  flex-direction: row;
  grid-gap: 1.125rem;
  list-style: none;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 767px) {
  .footer__links {
    flex-direction: column;
    grid-gap: 2rem;
  }
}