.footer__copyright {
  margin: 0;
  margin-left: auto;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 114%;
  text-align: right;
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .footer__copyright {
    margin: 0;
    margin-top: auto;
    font-size: 14px;
    line-height: calc(114% - 14%);
    color: #ffffff;
  }
}
