body {
  padding: 0;
  margin: 0;
}

.page {
  font-family: "Inter", sans-serif;
  background: #2a2c2f;
  min-width: 723px;
}

.layout {
  display: grid;
  grid-template-areas:
    "header header header"
    "content content content"
    "footer footer footer";
  grid-template-rows: 136px 1fr 134px;
  grid-template-columns: 1fr;
  max-width: 1280px;
  margin: 0 auto;
}

.header {
  grid-area: header;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  margin: 1.75rem 2.4rem 2.8rem;
}
.header__logo {
  justify-self: start;
  align-items: end;
  width: 176px;
  height: 52px;
}
.header__lang {
  display: flex;
  justify-self: end;
  align-items: end;
  column-gap: 1.125em;
  margin-bottom: 0.5em;
}
.header__lang-link {
  height: 29px;
  width: 28px;
  opacity: 1;
  transition: opacity 0.8s, linear 0.3s;
}
.header__lang-link:hover {
  border-bottom: 1px solid #fff;
  opacity: 0.2;
  transition: opacity 0.9s, linear 0.3s;
}

.content {
  grid-area: content;
  grid-template-rows: repeat(3, 1fr);
}

.lead {
  display: grid;
  justify-items: center;
  grid-template-columns: minmax(550px, auto);
  padding: 0 3rem;
}
.lead__title {
  max-width: 720px;
  width: 100%;
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 6rem;
  line-height: 104%;
  text-align: center;
  color: #ffffff;
  margin-bottom: 32px;
}
.lead__subtitle {
  max-width: 640px;
  width: 100%;
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 120%;
  text-align: center;
  color: #ffffff;
  margin-bottom: 64px;
}
.lead__image {
  max-width: 984px;
  width: 100%;
  margin: 0;
  object-fit: cover;
}
.lead__caption {
  max-width: 984px;
  width: 100%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.625rem;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0.5rem 0 0;
}

.intro {
  display: grid;
  grid-template-columns: minmax(550px, auto);
  padding: 0 3rem;
  border: 1px solid black;
}
.intro__title {
  max-width: 690px;
  width: 100%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 107%;
  color: #ffffff;
  border: 1px solid black;
  margin: 5.75rem 0 2.5rem 0;
}
.intro__text {
  max-width: 690px;
  width: 100%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  color: #ffffff;
  border: 1px solid black;
  margin: 0 0 2.0625rem 0;
}
.intro__list {
  max-width: 690px;
  width: 100%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  color: #ffffff;
  list-style-type: none;
  border: 1px solid black;
  margin: 0;
  padding: 0;
}

.photo-grid {
}

.places {
}

.cover {
}

.footer {
  grid-area: footer;
}
