.place {
  display: grid;
  margin: 0;
  grid-template-columns: repeat(auto-fill, minmax(400px, auto));
  grid-template-rows: auto;
  grid-gap: 2.5rem;
}
@media screen and (max-width: 1023px) {
  .place {
    grid-gap: 1.75rem;
  }
}

@media screen and (max-width: 767px) {
  .place {
    grid-gap: 0;
  }
}

@media screen and (max-width: 639px) {
  .place {
    grid-template-columns: repeat(auto-fill, minmax(320px, auto));
  }
}
