.footer {
  grid-area: footer;
  display: flex;
  flex-flow: row wrap;
  align-items: end;
  margin: 0 3rem 1.5rem;
}
@media screen and (max-width: 1023px) {
  .footer {
    margin: 5.5rem 1.5rem 1.5rem;
    flex-direction: column;
    align-items: flex-start;
    grid-gap: 2rem;
  }
}
@media screen and (max-width: 767px) {
  .footer {
    margin: 4rem 1rem 1.5rem;
    flex-direction: column;
    align-items: flex-start;
    grid-gap: 2rem;
  }
}
